@import 'tailwindcss';
@plugin "daisyui";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-size: 1.5rem;
}

.authForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authForm > * {
	margin-bottom: 1rem;
}

.textAndButton {
	display: flex;
	align-items: center;
}
